Werkzeug==0.10.4
asn1crypto==0.22.0
beautifulsoup4==4.6.0
certifi==2017.4.17
cffi==1.10.0
chardet==3.0.4
cryptography==1.9
html5lib==1.0.1
idna==2.5
lxml==3.8.0
pyOpenSSL==17.0.0
pycparser==2.17
pyvmomi==6.5.0.2017.5.post1
requests==2.6.0
simplejson==3.10.0
six==1.9.0
suds-jurko==0.6
urllib3==1.21.1
vapi-client-bindings==2.5.0
vapi-common-client==2.5.0
vapi-runtime==2.5.0
virtualenv==13.1.2
webencodings==0.5.1
